.login-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #2b5876, #4e4376, #1e1f26);
  background-size: 400% 400%;
  animation: gradientMove 8s ease infinite;
  padding: 20px;
  font-family: "Poppins", sans-serif;
}

/* Animated Background */
@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.login-card {
  width: 100%;
  max-width: 420px;
  background: rgba(255, 255, 255, 0.15);
  -webkit-backdrop-filter: blur(18px);
  backdrop-filter: blur(18px);
  border-radius: 16px;
  padding: 40px 35px;
  box-shadow: 0 8px 35px rgba(0, 0, 0, 0.35);
  color: white;
  text-align: center;
}

.login-card h2 {
  margin-bottom: 25px;
  font-size: 28px;
  font-weight: 600;
}

.login-card input {
  width: 100%;
  padding: 14px;
  margin: 12px 0 18px;
  border-radius: 10px;
  border: none;
  outline: none;
  background: rgba(255,255,255,0.25);
  color: white;
  font-size: 15px;
  transition: 0.3s;
}

.login-card input::placeholder {
  color: #e9e9e9;
}

.login-card input:focus {
  background: rgba(255,255,255,0.35);
  box-shadow: 0 0 10px rgba(255,255,255,0.35);
}

.login-button {
  width: 100%;
    padding: 12px;
    background: #2e0ab1;
    color: rgb(216, 19, 19);
    border: none;
    cursor: pointer;
    border-radius: 8px;
    font-size: 16px;
    transition: 0.3s;
}

.login-button:hover {
  background: #0a80ce;
}

.login-button:active {
  transform: translateY(0);
  box-shadow: none;
} 


.error {
  background: rgba(255, 0, 0, 0.18);
  border-left: 4px solid #ff4d4d;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 16px;
  font-size: 14px;
  color: #fff8f8;
}

/* .register-link {
  margin-top: 18px;
  font-size: 15px;
}

.register-link a {
  color: #ffd369;
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s;
}

.register-link a:hover {
  color: #ffffff;
} */
