/* ===== NAVBAR WRAPPER ===== */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  background: linear-gradient(90deg, #5d76ff, #4ca1ff);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2.4rem;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px); 
  z-index: 999;
}

/* Logo */
.navbar .logo {
  display: flex;
  align-items: center;
  gap: .6rem;
  font-size: 1.7rem;
  font-weight: 600;
  color: #fff;
}

.navbar .logo i {
  font-size: 1.9rem;
  color: #ffd500;
}

/* Navigation Links */
.nav-links {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.nav-links a {
  color: #f8fafc;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s ease;
}

.nav-links a:hover {
  color: #ffe88c;
  transform: translateY(-1px);
}

/* ===== BUTTON STYLE (Same for Register & Login) ===== */
.nav-btn {
  padding: 8px 18px;
  border-radius: 8px;
  border: none;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
  transition: 0.3s ease;
}

   .register-btn {
    width: 100%;
    padding: 12px;
    background: #2e0ab1;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    font-size: 16px;
    transition: 0.3s;
  } 
  
  .register-btn:hover {
    background: #0a80ce;
  } */


/* Button */
   .login-btn {
    width: 100%;
    padding: 12px;
    background: #2e0ab1;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    font-size: 16px;
    transition: 0.3s;
  } 
  
  .login-btn:hover {
    background: #0a80ce;
  } 

/* ===== MOBILE ===== */
.menu-icon {
  display: none;
  font-size: 1.8rem;
  cursor: pointer;
  color: white;
}

@media (max-width: 850px) {
  .menu-icon {
    display: block;
  }

  .nav-links {
    position: absolute;
    top: 70px;
    right: 0;
    width: 100%;
    flex-direction: column;
    background: rgba(45, 98, 255, 0.95);
    padding: 1.4rem 0;
    display: none;
  }

  .nav-links.open {
    display: flex;
  }
}
