/* ===== Global Reset ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", "Segoe UI", sans-serif;
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #0f172a;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


/* ===== FOOTER ===== */
.footer {
  background-color: #1f2937;
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: auto;
  font-size: 0.95rem;
}